
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.cove.dockerlogin</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>43200</integer>

    <key>StandardErrorPath</key>
    <string>%%WORKDIR%%/stderr.log</string>

    <key>StandardOutPath</key>
    <string>%%WORKDIR%%/stdout.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

    <key>WorkingDirectory</key>
    <string>%%WORKDIR%%</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>login.sh</string>
    </array>

  </dict>
</plist>

